body{
    background-color: #F6AD9D;

}
head{
    font-size: 50px;
    margin-left: 150px; 
    margin-top: 50px;
}

table, th, td {
        border: 1px solid black;
    
}
th.hover{
color: orange;

}
input[type=text]{
width: 25%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}
.icon {
padding: 14px;
background :limegreen; 

text-align: center;
}
.text{
margin-top: 50px;
}