<!DOCTYPE html>
{%load staticfiles%}
<html>

<head>
	<title>section details</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
		integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{%static 'style.css'%}">
	<style>
		table, th, td {
		  border: 1px solid black;
		  height: 30px;
		  width: 40px;
		}
		</style>
</head>

<body>
	<nav class="navbar navbar-light bg-danger">
		<h1>section_details:</h1>
		<!-- <a href="{% url 'student_details'%}" class="btn btn-primary btn-lg">show details</a> -->

		<a class="btn btn-primary" href="{% url 'student_details' %}">student_details</a>
		<a class="btn btn-success" href="{% url 'insert_view'%}">submit</a>
	</nav>
	<div class="container">
		{%block body_block%}
		
		{%endblock%}
	</div>

</body>

</html>