<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<div class="container"  >
        <h1>Information of students</h1>
    <table >
        <thead>
            <tr>
                <th>grade</th>
                <th>section</th>
                <th>subject</th>
                </tr>
            </thead>
            {%for sec in sections%}
            <tr>
                <td>{{sec.grade}}</td>
                <td>{{sec.section}}</td>
                <td>{{sec.subject}}</td>
            </tr>
            {%endfor%}
      </table>
    </div> 

  
    {%endblock%}