<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<div class="container" text-align="center">

    <h2>please provide information below</h2>
    <form action="{% url 'insert_view'%}" method="POST">
        {{form.as_p}}
        {%csrf_token%}
        <!-- <input type="submit" value="Insert record" class="btn btn-primary btn-lg"> -->
        <button type="submit" class="btn btn-danger btn-lg">insert_record</button>
    </form>
    <br>
     
</div>
{%endblock%}